body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('https://images.unsplash.com/photo-1523050854058-8df90110c9f1');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    background: #0c0000cc;
    backdrop-filter: blur(5px);
}

.login-card h2 {
    font-weight: 600;
}
.card{
    color: crimson;
}
.hi{
    margin-top: -50px;
    margin-left :70px; ;
}
.navbar-brand{
    color: crimson;
    
    font-family:'Times New Roman', Times, serif ;
}
.id{
    margin-right: 70px;
}
.container{
    margin-top: -30px;
}
